html,
body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: sans-serif;
}

#nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.4);
  width: 100%;
}

@media (min-width: 600px) {
  #nav {
    width: auto;
    right: 0;
    border-radius: 0 0 0 2px;
  }
}

#repo-link {
  background-color: #444;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

#repo-link svg {
  fill: white;
  padding: 9px;
}

#repo-link > span {
  padding-right: 12px;
}

#control {
  background-color: #fff;
  padding: 16px;
  height: 120px;
}

#control > div {
  padding: 4px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#control > div:first-child {
  justify-content: space-between;
}

#control label {
  display: flex;
  align-items: center;
}

input[type='range'] {
  padding: 0;
}

#files-input {
  display: none;
}

#files {
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #0075fa;
  color: #fff;
  border: 0;
  border-radius: 2px;
  margin-bottom: 22px;
}

#files-progress {
  height: 32px;
  width: 32px;
  margin-left: 10px;
}

#images {
  margin-top: 202px;
  padding: 16px;
  text-align: center;
}

@media (min-width: 600px) {
  #images {
    margin-top: auto;
  }
}

#images > * {
  max-width: 100%;
}

#messages {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#messages > div {
  color: #fff;
  background: #333;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 16px;
  margin: 8px;
}

@media (min-width: 600px) {
  #messages > div {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}
