html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #ccc;
}

canvas {
  max-width: 100%;
}

#files-icon {
  width: 56px;
  height: 56px;
  cursor: pointer;
}

#header {
  left: 0;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding: 16px;
  height: 168px;
}

#header * {
  display: inline;
}

#main {
  margin-top: 200px;
  padding: 16px;
}
