html,
body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: sans-serif;
}

#control {
  width: calc(100% - 32px);
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding: 16px;
  height: 100px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.4);
}

#control > div {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}

#control label {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

input[type='range'] {
  padding: 0;
}

#files-input {
  display: none;
}

#files {
  width: 56px;
  height: 56px;
  cursor: pointer;
}

#images {
  margin-top: 132px;
  padding: 16px;
  text-align: center;
}

#images > canvas {
  max-width: 100%;
}

#message {
  position: fixed;
  bottom: 0;
  color: #fff;
  background: #333;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 16px;
  margin: 8px;
  box-sizing: border-box;
  width: calc(100% - 16px);
  overflow: hidden;
  display: none;
}

@media (min-width: 600px) {
  #message {
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
